
.profileImg {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 3px solid white;
  box-shadow: 1px 1px 10px gray;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.imageDiv{
  position: relative;
  display: inline-block;
  width: 25%;
  margin: 40px 0px 40px 320px;

}

.about {
  position: relative;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: 30%;
  height: 180px;
  padding: 0px;
  vertical-align: top;
  margin-top: 50px;
  line-height:10px;
  color:white;

}

.div1 {
  /*border-bottom: 1px solid #438496;*/
  background-color: #286da8;;
  width: cover;
  margin-top: 60px;
  height: 250px;
}

.videoDiv {
  display: inline-block;
  margin-left: 350px;
  margin-top: 60px;

}

.div2 {
  background-color:#f4f4f4;
  height: 1000px;
  border-top: 1px solid #438496;
  color:#e8e8ed;
}