body {
  background-color: $white;
}

.core_layout {
  // padding-top: 1rem;
  background-color: $white;
  width: 95%;
  margin: auto;
  padding-top: 64px;
  @include at(xs) {
    padding-top: 56px;
  }
}

.content_area {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: $white;
  overflow: hidden;
}
