$drawer-text-color: $plum;
$drawer-background-color: $ultra-dark-purple;
$drawer-border-color: $drawer-background-color;

.drawer {
  color: $drawer-text-color;
  background-color: $drawer-background-color;
  &.right {
    border-left-color: $drawer-border-color;
  }
  &.left {
    border-right-color: $drawer-border-color;
  }
}
