$color-text-secondary: $plum;
$color-divider: $plum;
$list-item-hover-color: $red;
$color-text: $plum;
$list-item-right-icon-margin: 1rem;

.subheader {
  color: $color-text-secondary;
}

.divider {
  background-color: $color-divider;
}

.listItem {
  .ripple {
    color: $color-text-secondary;
  }
}

.item {
  color: $color-text;
  // &.selectable:not(.disabled):hover {
  //   background-color: $list-item-hover-color;
  // }
}

.itemAction {
  > [data-react-toolbox="font-icon"] {
    color: $color-text-secondary;
  }
}

.itemText {
  &:not(.primary) {
    color: $color-text-secondary;
  }

  &.primary {
    color: $color-text;
  }
}

.left {
  & :last-child {
    > [data-react-toolbox="font-icon"] {
      margin-right: $list-item-right-icon-margin;
    }
  }
}
