$trans-duration: .15s;

.appBar {
  transition: background $trans-duration ease-in-out;
  -moz-transition: background $trans-duration ease-in-out;
  -webkit-transition: background $trans-duration ease-in-out;
  path {
    transition: fill $trans-duration ease-in-out;
    -moz-transition: fill $trans-duration ease-in-out;
    -webkit-transition: fill $trans-duration ease-in-out;
  }
  button {
    color: $gray !important;
  }
  .logoContainer {
    cursor: pointer;
    text-align: center;
    width: 100%;
    i {
      @extend .logo;
    }
  }
}

.transparent {
  background: transparent !important;
  i {
    @extend .logo-transparent;
  }
  button {
    color: $white !important;
  }
  path {
    fill: $white;
  }
}
