// React Toolbox defaults
@import '~react-toolbox/lib/commons.scss';

// Our custom styles
@import 'theme';

// Useful resets
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  // Commented out the following to make the home page transparent nav work
  // by using react-waypoint. This is for the momentum scrolling on iOS/Safari.
  // Commenting out also makes window.scrollTo work again.
  // overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
