// Enables flexbox layouts in lost
@lost flexbox flex;

// Use '@extend .logo' to add this style anywhere
.logo-core {
  width: 170px;
  height: $logo-height;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  @include at(xs) {
    width: 150px;
  }
}
.logo {
  @extend .logo-core;
  background-image: $logo;
}

.logo-transparent {
  @extend .logo-core;
  background-image: $logo-transparent;
}

:global {
  // Put global styles in here that you DO NOT want to be rewritten by
  // css modules

  .nowrap {
    white-space: nowrap;
  }

  body {
    // Uncomment this to get lost layout debugging support. This will turn on
    // shaded block areas to make it easier to debug grid issues.
    // lost-utility: edit;

    .headerExtension {
      background-color: $purple;
      width: 100%;
      height: 30px;
    }

    .purpleContainer {
      color: $white;
      background-color: $purple;
      padding: 20px;
      margin-bottom: 20px;
    }

    .grayContainer {
      color: $black;
      background-color: $white;
      padding: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid $green;
      h5 {
        line-height: 3rem;
      }
    }

    .formContainer {
      padding: 20px;
      margin-top: -50px;

      .boxContainer {
        overflow: hidden;
        background-color: $white;
        padding: 20px;
        border-bottom: 2px solid $green;
        margin-bottom: 20px;

        .sublabel {
          font-size: 16px;
        }
      }
    }

    // Braintree form
    #expiration-date {
      width: 48%;
      display: inline-block;
      margin-right: 4%
    }

    #cvv {
      width: 48%;
      display: inline-block;
    }
  }
}
