:global {
  .staticPage {
    padding: 0 25px 35px;
    h2 {
      font-size: 1.2em;
      line-height: normal;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 1.1em;
    }
    h4 {
      font-size: 1em;
      line-height: normal;
    }
    p {
      margin: 5px 0 15px;
      line-height: 2rem;
    }
    ol, ul {
      margin-left: 15px;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
