$color-divider: $plum;
$root-padding: 1.8125rem;
$link-text-padding: 0.9375rem;
$link-text-height: 17px;

.itemContentRoot {
  padding-top: $root-padding;
}

.itemText {
  &:not(.primary) {
    color: $medium-gray;
  }
}

.fullName {
  width: 94px;
  height: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  color: $white;
}

.divider {
  margin-top: 2.8125rem !important;
  background-color: $color-divider;
}

.earnings {
  color: $lime;
}

.linkText {
  color: $ultra-light-gray;
  height: $link-text-height;
  padding-top: $link-text-padding;
}
